@use "global" as g;

/*---------------------------------

  artist アーティストページcss
  
---------------------------------*/
@include g.mq(md) {
  .artist-head-img {
    margin-left: 7%;
  }
}
.artist-heading {
  padding: 120px 0;
  &__body {
    max-width: 1000px;
    margin: 0 auto;
    @include g.mq(md) {
      margin: 0 7%;
    }
    &__title {
      line-height: 66px;
      text-align: justify;
    }
    &__text {
      line-height: 39px;
      &__inner {
        margin-top: 35px;
      }
    }
    &__link {
      border: 1px solid;
      width: 217px;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      margin-top: 20px;
      position: relative;
      &:first-child {
        @include g.mq(md) {
          margin-top: 80px;
        }
      }
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        transform: rotate(135deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
      &__inner {
        display: grid;
        gap: 20px;
      }
    }
  }
  &__content__inner {
    margin-top: 80px;
    margin-right: 7%;
    padding: 100px;
    background: #F5F5F5;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    &:last-child {
      margin-top: 40px;
    }
    &__img__inner {
      width: 40%;
    }
    &__body {
      width: 50%;
      &__title {
        font-size: 1.9375rem;
        font-weight: 500;
        &__inner {
          margin-top: 30px;
        }
      }
      &__text {
        line-height: 26.4px;
      }
      &__text__inner {
        margin-top: 35px;
      }
    }
  }
}

.artist-designer {
  &__inner {
    &__border {
      border-top: 1px solid #000;
      max-width: 700px;
      margin: 0 auto;
      padding-top: 120px;
    }
  }
  &__text {
    line-height: 39px;
    text-align: center;
    &__inner {
      margin-top: 50px;
    }
  }
  &__content__inner {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
  }
  &__content {
    margin-top: 160px;
    display: flex;
    @include g.mq(md) {
      display: none;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
    &__body {
      width: 50%;
      &__inner {
        margin-left: 60px;
        width: 82%;
      }
      &__position {
        font-weight: 300;
      }
      &__title {
        font-size: 1.4375rem;
        margin-top: 20px;
      }
      &__text {
        font-size: 0.8125rem;
        line-height: 26.4px;
        margin-top: 30px;
      }
      &__img__inner {
        margin-right: -180px;
        margin-top: 50px;
        z-index: 10;
        position: relative;
        &__even {
          width: 100%;
          margin-right: 0;
          margin-left: -180px;
        }
        img {
          width: 550px;
        }
      }
    }
    &__bg {
      position: relative;
      @include g.mq(md) {
        margin-top: -200px;
      }
      &__img__inner {
        img {
          width: 240px;
          position: absolute;
          top: -80px;
          left: 60px;
          z-index: 10;
          @include g.mq(md) {
            width: 205px;
            position: relative;
          }
        }
        &__even {
          img {
            top: -40px;
            right: 50px;
            left: auto;
          }
        }
      }
    }
    &__black__bg {
      background: #000;
      width: 500px;
      height: 500px;
      @include g.mq(md) {
        width: 40%;
        margin-left: auto;
      }
    }
  }
}

.artist-architect {
  padding-top: 120px;
  &__inner {
    &__border {
      border-top: 1px solid #000;
      max-width: 700px;
      margin: 0 auto;
      padding-top: 120px;
    }
  }
  &__text {
    line-height: 39px;
    text-align: center;
    @include g.mq(md) {
      line-height: 28px;
    }
    &__inner {
      margin-top: 50px;
    }
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 120px;
    @include g.mq(md) {
      position: relative;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      margin-top: 240px;
      margin-bottom: 300px;
    }
    &__icon__img__inner {
      width: 240px;
      margin-bottom: 80px;
      position: relative;
      @include g.mq(md) {
        width: 200px;
        margin-bottom: 140%;
        margin-left: 50%;
        position: relative;
      }
      &__even {
        @include g.mq(md) {
          margin-right: 50%;
          margin-left: 0;
        }
      }
      img {
        position: absolute;
        bottom: -60px;
        right: -100px;
        z-index: 10;
        @include g.mq(md) {
          bottom: 200px;
          top: auto;
          right: auto;
        }
      }
      &__even {
        img {
          right: auto;
          left: -100px;
        }
      }
    }
    &__icon__body__img__inner {
      width: 100%;
      position: relative;
      @include g.mq(md) {
        position: static;
      }
      img {
        width: 700px;
        z-index: 10;
        position: absolute;
        top: 100px;
        left: -100px;
        @include g.mq(md) {
          width: 360px;
          top: 20%;
          right: 0;
          left: auto;
        }
      }
      &__even {
        img {
          right: -100px;
          top: 100px;
          left: auto;
          @include g.mq(md) {
            right: auto;
            top: 20%;
            left: 0;
          }
        }
      }
    }
    &__body {
      background: #000;
      width: 900px;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include g.mq(md) {
        width: auto;
      }
      &__inner {
        color: #fff;
        margin-bottom: 220px;
        width: 58%;
        @include g.mq(md) {
          width: auto;
          margin-bottom: 0;
          padding: 0 8%;
          margin-top: 100%;
        }
      }
      &__position {
        font-weight: 300;
      }
      &__title {
        font-size: 1.4375rem;
        margin-top: 20px;
      }
      &__text {
        font-size: 0.8125rem;
        line-height: 26.4px;
        margin-top: 30px;
      }
    }
  }
}

.artist-about-content__after {
  background-image: url(../images/about_after_img_02.png);
}


.sp-artist-designer__content {
  display: none;
}
@include g.mq(md) {
  .sp-artist-designer__content {
    display: flex;
    &__odd {
      margin-top: 100px;
    }
    &__flex__even {
      display: flex;
      flex-direction: row-reverse;
    }
    &__even {
      display: block;
    }
    &__body {
      width: 70%;
      &__even {
        display: flex;
        flex-direction: column-reverse;
      }
      &__icon__inner {
        max-width: 200px;
        img:first-child {
          margin-left: 15%;
        }
        img:last-child {
          width: 190%;
          z-index: 1;
          margin-top: 20px;
          position: relative;
        }
        &__even {
          img:last-child {
            width: 200px;
            margin-top: 0;
          }
        }
      }
      &__body {
        padding:  7%;
        padding-top: 8%;
        &__title {
          &__inner {
            margin-top: 20px;
          }
        }
        &__text {
          &__inner {
            margin-top: 40px;
          }
        }
      }
    }
    &__bg {
      width: 35%;
      height: 450px;
      background-color: #000;
      margin-top: 22%;
      &__even {
        margin-top: 30%;
      }
    }
  }
  .sp-artist-designer__img__inner {
    width: 90%;
    margin-left: auto;
  }
}