@use "global" as g;

/*---------------------------------

  modelhouse-komazawa モデルハウス駒沢ページcss
  
---------------------------------*/
.mh-komazawa {
  &-main {
    padding-top: 100px;
    @include g.mq(md) {
      padding-top: 60px;
    }
  }
  &-inner {
    display: flex;
    align-items: end;
    padding: 100px 0;
    @include g.mq(md) {
      display: block;
      padding: 0;
    }
  }
  &-odd-inner {
    padding-left: 0;
    padding-right: 100px;
    color: #fff;
  }
  &-even-inner {
    padding-right: 0;
    align-items: flex-end;
  }
  &__img__inner {
    position: relative;
    width: 58%;
    @include g.mq(md) {
      width: auto;
    }
    &::after {
      content: '';
      position: absolute;
      color: #D3D3D3;
      font-size: 14.5625rem;
      font-family: "Shippori Mincho", serif;
      writing-mode: vertical-rl;
      opacity: 0.7;
    }
  }
  &__img__inner {
    &::after {
      content: '駒沢';
      position: absolute;
      top: -150px;
      right: -110px;
      @include g.mq(md) {
        top: auto;
        right: auto;
        bottom: -180px;
        left: 0;
        font-size: 6.25rem;
      }
    }
  }
  &__body,
  &-seta__body {
    margin-left: 120px;
    width: 25%;
    @include g.mq(md) {
      width: auto;
      margin-left: 0;
      margin-top: 100px;
    }
  }
  &__body__title {
    font-size: 20px;
    font-weight: 500;
    @include g.mq(md) {
      line-height: 40px;
      margin-left: 40%;
    }
  }
  &-shinjuku__body__title,
  &-magome__body__title {
    margin-top: 30px;
    line-height: 44px;
  }
  &-seta__body__title {
    line-height: 49px;
  }
  &__body__text__inner {
    margin-top: 30px;
    @include g.mq(md) {
      margin-left: 7%;
    }
  }
  &__body__text {
    font-size: 0.875rem;
    line-height: 39px;
    @include g.mq(md) {
      line-height: 29px;
    }

  }
}

.mh-c-sec {
  padding-top: 120px;
  &__content__body__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    @include g.mq(md) {
      margin-top: 10%;
    }
  }
  &__content__body__text {
    font-size: 0.875rem;
    line-height: 39px;
    @include g.mq(md) {
      line-height: 31px;
      width: auto;
      font-size: 0.8125rem;
      margin-left: 4%;
    }
  }
}

.mh-about__content__shinjuku {
  background-image: url(../images/mh_banner_shinjuku.png);
}
.mh-about__content__seta {
  background-image: url(../images/mh_banner_seta.png);
}
.mh-about__content__magome {
  background-image: url(../images/mh_banner_magome.png);
}

.mh-c-sec2 {
  &__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    @include g.mq(md) {
      flex-direction: column-reverse;
      margin-left: 7%;
    }
    &__body {
      width: 40%;
      margin-left: auto;
      margin-right: 60px;
      @include g.mq(md) {
        width: auto;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
      }
      &__text__inner {
        width: 50%;
        margin-top: 50px;
        @include g.mq(md) {
          width: auto;
        }
      }
      &__img__inner {
        display: flex;
        margin-top: 50px;
        gap: 10px;
        @include g.mq(md) {
          margin-top: 20px;
          margin-bottom: 60px;
          display: block;
        }
        img {
          @include g.mq(md) {
            width: 200px;
            &:last-child {
              margin-left: 140px;
            }
          }
        }
      }
    }
  }
}
.mh-c-sec3 {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include g.mq(md) {
      display: block;
    }
    &__img__inner  {
      &__box:last-child {
        width: 40%;
        margin-left: auto;
        margin-top: 40px;
        @include g.mq(md) {
          justify-content: flex-start;
        }
       img {
        width: 200px;
       }
      }
    }
    &__body {
      width: 30%;
      margin-left: 100px;
      @include g.mq(md) {
        width: auto;
        margin-left: 0;
        margin-top: 10%;
      }
      &__title__inner {
        padding-left: 10%;
      }
      &__text__inner {
        width: 70%;
        margin-top: 50px;
        @include g.mq(md) {
          width: auto;
        }
        &__sec3 {
          @include g.mq(md) {
            padding-right: 10%;
            line-height: 31px;
            width: 65%;
            margin-left: auto; 
          }
        }
      }
    }
  }
}

.mh-c-sec4 {
  &__content {
    display: flex;
    justify-content: end;
    align-items: center;
    @include g.mq(md) {
      flex-direction: column-reverse;
    }
    &__body {
      width: 30%;
      @include g.mq(md) {
        width: auto;
        margin: 0 7%;
      }
      &__text__inner {
        width: 75%;
        margin-top: 50px;
        @include g.mq(md) {
          width: auto;
        }
      }
    }
  }
  &__img__inner {
    margin-top: 60px;
    width: 500px;
    @include g.mq(md) {
      width: auto;
    }
  }
}
.mh-c-sec5 {
  padding-top: 120px;
  &__inner {
    background:#F5F5F5;
    padding: 80px;
    @include g.mq(md) {
      padding: 80px 7%;
    }
  }
  &__content {
    display: flex;
    justify-content: space-around;
    @include g.mq(md) {
      display: block;
    }
    &__body {
      margin-top: 50px;
      &__title {
        text-align: justify;
      }
      &__text__inner {
        margin-top: 50px;
      }
      &__text__number {
        font-size: 0.875rem;
        font-weight: 200;
      }
    }
    &__map__inner {
      margin-top: 80px;
    }
    &__map__btn {
      width: 200px;
      height: 35px;
      color: #fff;
      font-size: 0.6875rem;
      letter-spacing: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #393939;
      margin-top: 50px;
      padding-right: 60px;
      position: relative;
      @include g.mq(md) {
        margin: 0 auto;
        margin-top: 50px;
      }
      &::after {
        content: "";
        width: 7px;
        height: 7px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
    }
  }
}