@use "global" as g;

/*---------------------------------

  modelhouse-magome モデルハウス馬込ページcss
  
---------------------------------*/
.mh-magome {
  &-main {
    padding-top: 100px;
    @include g.mq(md) {
      padding-top: 60px;
    }
  }
  &-inner {
    display: flex;
    align-items: end;
    padding: 100px 0;
    @include g.mq(md) {
      display: block;
      padding: 0;
    }
  }
  &-odd-inner {
    padding-left: 0;
    padding-right: 100px;
    color: #fff;
  }
  &-even-inner {
    padding-right: 0;
    align-items: flex-end;
  }
  &__img__inner {
    position: relative;
    width: 58%;
    @include g.mq(md) {
      width: auto;
    }
    &::after {
      content: '';
      position: absolute;
      color: #D3D3D3;
      font-size: 14.5625rem;
      font-family: "Shippori Mincho", serif;
      writing-mode: vertical-rl;
      opacity: 0.7;
    }
  }
  &__img__inner {
    &::after {
      content: '馬込';
      position: absolute;
      top: -150px;
      right: -110px;
      @include g.mq(md) {
        top: auto;
        right: auto;
        bottom: -180px;
        left: 0;
        font-size: 6.25rem;
      }
    }
  }
  &__body,
  &-seta__body {
    margin-left: 120px;
    width: 25%;
    @include g.mq(md) {
      width: auto;
      margin-left: 0;
      margin-top: 100px;
    }
  }
  &__body__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    @include g.mq(md) {
      line-height: 40px;
      margin-left: 40%;
    }
  }
  &-seta__body__title {
    line-height: 49px;
  }
  &__body__text__inner {
    margin-top: 30px;
    @include g.mq(md) {
      margin-left: 7%;
    }
  }
  &__body__text {
    font-size: 0.875rem;
    line-height: 39px;
    @include g.mq(md) {
      line-height: 31px;
    }
  }
}

.mh-c-sec {
  padding-top: 120px;
  &__content__body__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
  }
  &__content__body__text {
    font-size: 0.875rem;
    line-height: 39px;
  }
}

.mh-about__content__komazawa {
  background-image: url(../images/mh_banner_komazawa.png);
}
.mh-about__content__shinjuku {
  background-image: url(../images/mh_banner_shinjuku.png);
}
.mh-about__content__seta {
  background-image: url(../images/mh_banner_seta.png);
}

.mh-c-sec2 {
  &__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    &__body {
      width: 40%;
      margin-left: auto;
      margin-right: 60px;
      &__text__inner {
        width: 50%;
        margin-top: 50px;
      }
      &__img__inner {
        display: flex;
        margin-top: 50px;
        gap: 10px;
      }
    }
  }
}
.mh-c-sec3 {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__img__inner  {
      &__box:last-child {
        display: flex;
        justify-content: end;
        margin-top: 40px;
        margin-right: 140px;
       img {
        width: 200px;
       }
      }
    }
    &__body {
      width: 30%;
      margin-left: 100px;
      &__text__inner {
        width: 70%;
        margin-top: 50px;
      }
    }
  }
}
.mh-c-sec4 {
  &__content {
    display: flex;
    justify-content: end;
    align-items: center;
    &__body {
      width: 30%;
      &__text__inner {
        width: 75%;
        margin-top: 50px;
      }
    }
  }
  &__img__inner {
    margin-top: 60px;
    width: 500px;
  }
}
.mh-c-sec5 {
  padding-top: 120px;
  &__inner {
    background:#F5F5F5;
    padding: 80px;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    &__body {
      margin-top: 50px;
      &__title {
        text-align: justify;
      }
      &__text__inner {
        margin-top: 50px;
      }
      &__text__number {
        font-size: 0.875rem;
        font-weight: 200;
      }
    }
    &__map__btn {
      width: 200px;
      height: 35px;
      color: #fff;
      font-size: 0.6875rem;
      letter-spacing: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #393939;
      margin-top: 50px;
      padding-right: 60px;
      position: relative;
      &::after {
        content: "";
        width: 7px;
        height: 7px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
    }
  }
}