
@use "global" as g;

/*---------------------------------

  modelhouses モデルハウス一覧ページcss
  
---------------------------------*/
.modelhouses {
  &-main {
    padding-top: 100px;
    @include g.mq(md) {
      padding-top: 60px;
    }
  }
  &-odd-section {
    background: #000;
    @include g.mq(md) {
      padding-bottom: 100px;
    }
  }
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
  }
  &-odd-inner {
    padding-left: 0;
    padding-right: 100px;
    color: #fff;
    @include g.mq(md) {
      padding: 0;
      display: block;
    }
  }
  &-even-inner {
    padding-right: 0;
    align-items: flex-end;
    @include g.mq(md) {
      padding: 0;
      flex-direction: column-reverse;
    }
  }
  &__img__inner {
    position: relative;
    width: 63%;
    @include g.mq(md) {
      width: auto;
    }
    &::after {
      content: '';
      position: absolute;
      color: #D3D3D3;
      font-size: 14.5625rem;
      font-family: "Shippori Mincho", serif;
      writing-mode: vertical-rl;
      opacity: 0.7;
      @include g.mq(md) {
        font-size: 6rem;
      }
    }
  }
  &-komazawa__img__inner {
    &::after {
      content: '駒沢';
      position: absolute;
      top: -150px;
      right: -110px;
      @include g.mq(md) {
        left: 7%;
        bottom: -160px;
        top: auto;
        right: auto;
      }
    }
  }
  &-shinjuku__img__inner {
    &::after {
      content: '新宿';
      position: absolute;
      top: -200px;
      left: -110px;
      @include g.mq(md) {
        top: auto;
        left: 0;
        bottom: -160px;
      }
    }
  }
  &-seta__img__inner {
    &::after {
      content: '瀬田';
      position: absolute;
      top: -150px;
      right: -110px;
      @include g.mq(md) {
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
      }
    }
  }
  &-magome__img__inner {
    &::after {
      content: '馬込';
      position: absolute;
      top: -200px;
      left: -110px;
      @include g.mq(md) {
        top: auto;
        left: 0;
        bottom: -120px;
      }
    }
  }
  &-komazawa__body,
  &-seta__body {
    margin-top: 60px;
    @include g.mq(md) {
      margin-left: 140px;
    }
  }
  &__body__title {
    font-size: 20px;
    font-weight: 500;
  }
  &-shinjuku__body__title,
  &-magome__body__title {
    margin-top: 30px;
    line-height: 44px;
  }
  &-seta__body__title {
    line-height: 49px;
  }
  &__body__text__inner {
    margin-top: 30px;
  }
  &__body__text {
    font-size: 0.875rem;
    line-height: 39px;
  }
  &__body__btn {
    display: block;
    border: 1px solid;
    width: 217px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    margin-top: 60px;
  }
  &-komazawa__body__btn,
  &-seta__body__btn {
    background: #fff;
    color: #000;
  }
  &-komazawa__body__img__inner,
  &-seta__body__img__inner {
    margin-top: 60px;
  }
  &__body__img__inner {
    @include g.mq(md) {
      margin-top: 60px;
    }
  }
}
