@use "global" as g;

/*---------------------------------

  privacy-policy プライバシーポリシーcss
  
---------------------------------*/
.privacy-policy {
  &__inner {
    line-height: 39px;
  }
  &__title__inner {
    margin-top: 60px;
  }
  &__title {
    padding: 60px;
    &__desc {
      margin: 0 14%;
    }
  }
  &__body__inner {
    margin: 0 14%;
  }
  &__window__body {
    margin: 0 14%;
    &__date {
      text-align: right;
    }
    &__company__name {
      text-align: right;
    }
  }
  &__body {
    margin-top: 60px;
    p {
      font-size: 0.875rem;
    }
    &__item {
      font-size: 0.875rem;
    }
  }
}