@use "global" as g;

/*---------------------------------

  reservation 来場予約ページcss
  
---------------------------------*/
input[type="date"],
input[type="text"],
input[type="number"]
 {
  width: 670px;
  height: 46px;
  border: 1px solid #040000;
  border-radius: 5px;
  margin-top: 10px;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}

.reservation {
  &__title__inner {
    margin: -120px 10% 0 0;
    padding: 120px 0 120px 16%;
    background: #fff;
    position: relative;
  }
  &__title {
    text-align: justify;
  }
  &-form {
    &__inner {
      max-width: 1000px;
      margin: 0 auto;
      input {
        appearance: auto;
        -webkit-appearance: auto;
      }
    }
    &__desc {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 150%;
      margin-top: 60px;
      &__en {
        font-size: 0.8125rem;
      }
    }
    &__label__inner {
      margin-top: 20px;
      .require {
        color: red;
      }
      &__en {
        line-height: 150%;
        font-size: 0.8125rem;
        display: flex;
        span {
          color: red;
          margin-left: 5px;
        }
      }
    }
    &__content {
      margin-top: 80px;
    }
    &__radio {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      &__inner {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
      &__flex {
        display: flex;
        align-items: center;
        .radio-name {
          margin-left: 10px;
        }
      }
      &__box__name__en {
        font-size: 0.75rem;
        margin-left: 30px;
      }
    }
    &__date__hope__text {
      &__inner {
        margin-top: 30px;
        color: #898989;
      }
      &__en {
        line-height: 150%;
        font-size: 0.8125rem;
      }
    }
    &__customer__post__input {
      &:first-child {
        width: 275px;
      }
      &:last-child {
        width: 200px;
        background: rgba(0, 0, 0, 0.15);
        margin-left: 20px;
        padding-left: 45px;
      }
      &__inner {
        display: flex;
        align-items: center;
      }
    }
    &__architecture__hope__radio {
      &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 84%;
        margin-top: 10px;
      }
    }
    &__architecture__season {
      &__call__text {
        color: #999999;
        font-size: 0.84375rem;
        margin-top: 10px;
        &__en {
          color: #999999;
          font-size: 0.8125rem;
        }
      }
      &__radio {  
        margin-right: 40px;
        &__inner {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          margin-left: auto;
          margin-top: 20px;
        }
      }
    }
    &__architecture__budget {
      &__radio {
        width: 200px;
        &__inner {
          display: grid;
          gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          margin: 0 250px;
          margin-left: auto;
          margin-top: 20px;
        }
      }
    }
    &__trigger {
      &__checkbox {
        width: 300px;
        .checkbox-name {
          font-size: 15px;
          margin-left: 5px;
          white-space: nowrap;
        }
        &__inner {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;
          margin-left: auto;
          margin-top: 20px;
        }
        &__flex {
          display: flex;
          align-items: center;
        }
      }
    }
    &__question {
      &__textarea__inner {
        margin-top: 10px;
        textarea {
          width: 670px;
          height: 160px;
          border: 1px solid #000;
          border-radius: 8px;
          padding: 10px;
        }
      }
    }
    &__submit__inner {
      width: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      border-radius: 8px;
      margin-top: 40px;
      position: relative;
      input {
        height: 50px;
        padding: 0 20px;
      }
      &__text__en {
        display: block;
        position: absolute;
        font-size: 0.75rem;
        margin-top: 30px;
        letter-spacing: 0;
      }
    }
  }
}

.request-info-banner {
  padding-top: 200px;
  padding-bottom: 80px;
  &__inner {
    width: 1100px;
    height: 290px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/request_banner_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &__content {
    color: #fff;
    position: relative;
    z-index: 10;
    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      letter-spacing: 4px;
    }
    &__btn {
      width: 300px;
      height: 45px;
      background: #393939;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      position: relative;
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
    }
  }
}