@use "global" as g;

/*---------------------------------

  top topページcss
  
---------------------------------*/
.top-hero {
  &__inner {
    height: 100vh;
    width: 100%;
    background-image: url(../images/top_hero_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    margin-top: -100px;
    min-height: 400px;
  }
}
.top-body {
  &__inner {
    height: 92vh;
    width: 100%;
    background: linear-gradient(rgba(0, 65, 162, 0.8), rgba(0, 65, 162, 0.8)),url(../images/top_hero_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  &__body {
    color: #fff;
    margin-left: 7%;
    &__title {
      font-size: 5rem;
      font-family: "Jost", sans-serif;
      font-weight: 600;
    }
    &__concept {
      font-size: 1.625rem;
      font-weight: 500;
      &__inner {
        margin-top: 80px;
      }
    }
    &__text {
      line-height: 39px;
      &:first-child {
        font-size: 1.25rem;
        margin-top: 60px;
      }
      &:last-child {
        font-size: 1.25rem;
        margin-top: 30px;
      }
      &__inner {
        margin-top: 40px;
      }
    }
  }
}
.top-about {
  &__inner {
    background: #000;
    padding: 120px 0 180px 0;
  }
  &__title {
    font-size: 5rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    text-align: justify;
    &__inner {
      color: #fff;
      margin-left: 7%;
    }
    &__text {
      font-size: 1.25rem;
      margin-top: 40px;
    }
  }
  &__content__inner {
    padding-top: 60px;
    display: flex;
  }
  &__content {
    width: 25%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    &__design {
      background-image: url(../images/top_about_design.png);
    }
    &__performance {
      background-image: url(../images/top_about_structure.png);
    }
    &__after {
      background-image: url(../images/top_about_after.png);
    }
    &__artist {
      background-image: url(../images/top_about_artist.png);
    }
    &__body {
      color: #fff;
      margin-top: 100px;
      &__title {
        font-size: 2.5rem;
      }
      &__desc {
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 20px;
      }
    }
  }
}
.top-mh {
  &__inner {
    margin-top: 100px;
  }
  &-title__body {
    margin-left: 7%;
    &__title {
      font-size: 5rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    text-align: justify;
    }
    &__text {
      line-height: 39px;
      &__inner {
        margin-top: 40px;
      }
    }
    &__link {
      border: 1px solid;
      width: 217px;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      margin-top: 60px;
      position: relative;
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.top-mh {
  &-main {
    padding-top: 100px;
  }
  &-odd-section {
    background: #000;
  }
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    position: relative;
    margin-top: 100px;
  }
  &-odd-inner {
    padding-left: 0;
    &__bg {
      width: 90%;
      height: 700px;
      background-color: #F5F5F5;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -10;
    }
  }
  &-even-inner {
    padding-right: 0;
    align-items: flex-end;
    &__bg {
      width: 90%;
      height: 700px;
      background-color: #F5F5F5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
    }
  }
  &__img__inner {
    position: relative;
    width: 63%;
    &::after {
      content: '';
      position: absolute;
      color: #D3D3D3;
      font-size: 14.5625rem;
      font-family: "Shippori Mincho", serif;
      writing-mode: vertical-rl;
      opacity: 0.7;
    }
  }
  &-komazawa__img__inner {
    &::after {
      content: '駒沢';
      position: absolute;
      top: -200px;
      right: -110px;
    }
  }
  &-shinjuku__img__inner {
    &::after {
      content: '新宿';
      position: absolute;
      top: -200px;
      left: -110px;
    }
  }
  &-seta__img__inner {
    &::after {
      content: '瀬田';
      position: absolute;
      top: -150px;
      right: -110px;
    }
  }
  &-magome__img__inner {
    &::after {
      content: '馬込';
      position: absolute;
      top: -200px;
      left: -110px;
    }
  }
  &-komazawa__body,
  &-seta__body {
    margin-top: 60px;
  }
  &__body__title {
    font-size: 20px;
    font-weight: 500;
  }
  &-shinjuku__body__title,
  &-magome__body__title {
    margin-top: 30px;
    line-height: 44px;
    &__inner {
      margin-left: 60px;
    }
  }
  &-shinjuku__body__text,
  &-magome__body__text {
    &__inner {
      margin-left: 60px;
    }
  }
  &-seta__body__title {
    line-height: 49px;
  }
  &__body__text__inner {
    margin-top: 30px;
  }
  &__body__text {
    font-size: 0.875rem;
    line-height: 39px;
  }
  &__body__btn {
    display: block;
    border: 1px solid;
    width: 217px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    margin-top: 60px;
    position: relative;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border: 0;
      border-top: solid 1px #000;
      border-right: solid 1px #000;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      margin: auto;
    }
  }
  &-komazawa__body__btn,
  &-seta__body__btn {
    background: #fff;
    color: #000;
  }
  &-shinjuku__body__btn,
  &-magome__body__btn {
    margin-left: 60px;
  }
  &-komazawa__body__img__inner,
  &-seta__body__img__inner {
    margin-top: 60px;
    img {
      width: 350px;
    }
  }
}
.top-gallery {
  margin-top: 220px;
  &__img__inner {
    margin-top: 60px;
    .slick-img {
      img {
        height: 520px;
        opacity: .3; // スライドを薄くする
        transition: opacity .5s, transform .5s; // スライド透過率と拡大のアニメーション時間を0.5秒に設定
        width: 100%;
      }
    }
    .slider .slick-center img {
      opacity: 1; // 中央のスライドは透過しない
      transform: scale(1.4); // 中央のスライドは小さくしない
    }
  }
}
.top-news {
  &__inner {
    background-color: #000;
    color: #fff;
    padding: 100px 0;
    display: flex;
    align-items: center;
  }
  &__title__inner {
    margin-left: 14%;
  }
  &__title {
    font-size: 2.5rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    text-align: justify;
  }
  &__body {
    margin: 0 auto;
    &__article {
      display: flex;
      align-items: center;
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
      &__date {
        font-weight: 200;
        &__inner {
          margin-right: 100px;
        }
      }
    }
  }
}
.top-event {
  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 120px;
  }
  &__content {
    border: 1px solid #000;
    display: flex;
    padding: 20px;
    position: relative;
    &__body {
      padding-top: 40px;
      margin: 0 auto;
      &__date__inner {
        position: absolute;
        top: 20px;
        right: 20px;
      }
      &__title {
        font-family: "Jost", sans-serif;
        font-weight: 600;
      }
      &__text {
        line-height: 39px;
        &__inner {
          margin-top: 50px;
        }
      }
      &__address {
        &__inner {
          margin-top: 30px;
        }
      }
    }
  }
}
.top-company {
  &__inner {
    width: 100%;
    height: 480px;
    background-image: url(../images/top_company_bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 80px;
  }
  &__body {
    color: #fff;
    margin-left: 10%;
    &__title {
      font-family: "Jost", sans-serif;
      font-weight: 600;
      text-align: justify;
    }
    &__text {
      line-height: 39px;
      &__inner {
        margin-top: 50px;
      }
    }
    &__link {
      background-color: #fff;
      border: 1px solid;
      color: #000;
      width: 217px;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      margin-top: 60px;
      position: relative;
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
    }
  }
}