<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>エラーが発生しました。</title>
  <meta name="robots" content="noindex,nofollow,noarchive">
  <link href="./me_mailform/assets/css/bootstrap.min.css" rel="stylesheet">
  <script src="./me_mailform/assets/js/memf.js" charset="UTF-8" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>エラーが発生しました。</h1>
  </div>
  <div id="error_message">エラーが発生しました。</div>
  <p class="text-right"><span id="powered_by_me"></span></p>
</div>
</body>
</html>
