<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>お問い合わせ送信完了</title>
  <link href="./me_mailform/assets/css/bootstrap.min.css" rel="stylesheet">
  <script src="./me_mailform/assets/js/memf.js" charset="UTF-8" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>お問い合わせ送信完了</h1>
  </div>
  <div><span id="name"></span>様、お問い合わせありがとうございました。</div>
  <hr>
  <div><a href="/">トップページに戻る</a></div>
  <hr>
  <p class="text-right"><span id="powered_by_me"></span></p>
</div>
</body>
</html>
