@charset "UTF-8";
/*---------------------------------

  artist アーティストページcss

---------------------------------*/
@media screen and (max-width: 835px) {
  .artist-head-img {
    margin-left: 7%;
  }
}
.artist-heading {
  padding: 120px 0;
}
.artist-heading__body {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 835px) {
  .artist-heading__body {
    margin: 0 7%;
  }
}
.artist-heading__body__title {
  line-height: 66px;
  text-align: justify;
}
.artist-heading__body__text {
  line-height: 39px;
}
.artist-heading__body__text__inner {
  margin-top: 35px;
}
.artist-heading__body__link {
  border: 1px solid;
  width: 217px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;
  position: relative;
}
@media screen and (max-width: 835px) {
  .artist-heading__body__link {
    margin: 0 auto;
  }
}
@media screen and (max-width: 835px) {
  .artist-heading__body__link:first-child {
    margin-top: 80px;
  }
}
@media screen and (max-width: 835px) {
  .artist-heading__body__link:last-child {
    margin-top: 20px;
  }
}
.artist-heading__body__link::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}
.artist-heading__body__link__inner {
  display: grid;
  gap: 20px;
}
.artist-heading__content__inner {
  margin-top: 80px;
  margin-right: 7%;
  padding: 100px;
  background: #F5F5F5;
}
.artist-heading__content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.artist-heading__content:last-child {
  margin-top: 40px;
}
.artist-heading__content__img__inner {
  width: 40%;
}
.artist-heading__content__body {
  width: 50%;
}
.artist-heading__content__body__title {
  font-size: 1.9375rem;
  font-weight: 500;
}
.artist-heading__content__body__title__inner {
  margin-top: 30px;
}
.artist-heading__content__body__text {
  line-height: 26.4px;
}
.artist-heading__content__body__text__inner {
  margin-top: 35px;
}

.artist-designer__inner__border {
  border-top: 1px solid #000;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 120px;
}
.artist-designer__text {
  line-height: 39px;
  text-align: center;
}
.artist-designer__text__inner {
  margin-top: 50px;
}
.artist-designer__content__inner {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
}
.artist-designer__content {
  margin-top: 160px;
  display: flex;
}
@media screen and (max-width: 835px) {
  .artist-designer__content {
    display: none;
  }
}
.artist-designer__content__even {
  flex-direction: row-reverse;
}
.artist-designer__content__body {
  width: 50%;
}
.artist-designer__content__body__inner {
  margin-left: 60px;
  width: 82%;
}
.artist-designer__content__body__position {
  font-weight: 300;
}
.artist-designer__content__body__title {
  font-size: 1.4375rem;
  margin-top: 20px;
}
.artist-designer__content__body__text {
  font-size: 0.8125rem;
  line-height: 26.4px;
  margin-top: 30px;
}
.artist-designer__content__body__img__inner {
  margin-right: -180px;
  margin-top: 50px;
  z-index: 10;
  position: relative;
}
.artist-designer__content__body__img__inner__even {
  width: 100%;
  margin-right: 0;
  margin-left: -180px;
}
.artist-designer__content__body__img__inner img {
  width: 550px;
}
.artist-designer__content__bg {
  position: relative;
}
@media screen and (max-width: 835px) {
  .artist-designer__content__bg {
    margin-top: -200px;
  }
}
.artist-designer__content__bg__img__inner img {
  width: 240px;
  position: absolute;
  top: -80px;
  left: 60px;
  z-index: 10;
}
@media screen and (max-width: 835px) {
  .artist-designer__content__bg__img__inner img {
    width: 205px;
    position: relative;
  }
}
.artist-designer__content__bg__img__inner__even img {
  top: -40px;
  right: 50px;
  left: auto;
}
.artist-designer__content__black__bg {
  background: #000;
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 835px) {
  .artist-designer__content__black__bg {
    width: 40%;
    margin-left: auto;
  }
}

.artist-architect {
  padding-top: 120px;
}
.artist-architect__inner__border {
  border-top: 1px solid #000;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 120px;
}
.artist-architect__text {
  line-height: 39px;
  text-align: center;
}
@media screen and (max-width: 835px) {
  .artist-architect__text {
    line-height: 28px;
  }
}
.artist-architect__text__inner {
  margin-top: 50px;
}
.artist-architect__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 120px;
}
@media screen and (max-width: 835px) {
  .artist-architect__content {
    position: relative;
  }
}
.artist-architect__content:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-top: 240px;
  margin-bottom: 300px;
}
@media screen and (max-width: 835px) {
  .artist-architect__content:nth-of-type(even) {
    margin-bottom: 0;
  }
}
.artist-architect__content__icon__img__inner {
  width: 240px;
  margin-bottom: 80px;
  position: relative;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__icon__img__inner {
    width: 200px;
    margin-bottom: 140%;
    margin-left: 50%;
    position: relative;
  }
}
@media screen and (max-width: 835px) {
  .artist-architect__content__icon__img__inner__even {
    margin-right: 50%;
    margin-left: 0;
  }
}
.artist-architect__content__icon__img__inner img {
  position: absolute;
  bottom: -60px;
  right: -100px;
  z-index: 10;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__icon__img__inner img {
    bottom: 200px;
    top: auto;
    right: auto;
  }
}
.artist-architect__content__icon__img__inner__even img {
  right: auto;
  left: -100px;
}
.artist-architect__content__icon__body__img__inner {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__icon__body__img__inner {
    position: static;
    margin-top: -80%;
    text-align: right;
  }
}
.artist-architect__content__icon__body__img__inner img {
  width: 700px;
  z-index: 10;
  position: absolute;
  top: 100px;
  left: -100px;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__icon__body__img__inner img {
    width: 360px;
    top: 24%;
    right: 0;
    left: auto;
  }
}
.artist-architect__content__icon__body__img__inner__even img {
  right: -100px;
  top: 100px;
  left: auto;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__icon__body__img__inner__even img {
    position: relative;
    top: auto;
    right: auto;
  }
}
.artist-architect__content__body {
  background: #000;
  width: 900px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__body {
    width: auto;
  }
}
@media screen and (max-width: 835px) {
  .artist-architect__content__body__even {
    align-items: flex-start;
  }
}
.artist-architect__content__body__inner {
  color: #fff;
  margin-bottom: 220px;
  width: 58%;
}
@media screen and (max-width: 835px) {
  .artist-architect__content__body__inner {
    width: auto;
    margin-bottom: 0;
    padding: 0 12%;
    margin-top: 120%;
  }
}
@media screen and (max-width: 835px) {
  .artist-architect__content__body__inner__even {
    margin-top: 40%;
  }
}
.artist-architect__content__body__position {
  font-weight: 300;
}
.artist-architect__content__body__title {
  font-size: 1.4375rem;
  margin-top: 20px;
}
.artist-architect__content__body__text {
  font-size: 0.8125rem;
  line-height: 26.4px;
  margin-top: 30px;
}

@media screen and (max-width: 835px) {
  .artist-about {
    margin-top: 80%;
  }
}

.artist-about-content__after {
  background-image: url(../images/about_after_img_02.png);
}

.sp-artist-designer__content {
  display: none;
}

@media screen and (max-width: 835px) {
  .sp-artist-designer__content {
    display: flex;
  }
  .sp-artist-designer__content__odd {
    margin-top: 100px;
  }
  .sp-artist-designer__content__flex__even {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .sp-artist-designer__content__even {
    display: block;
  }
  .sp-artist-designer__content__body {
    width: 70%;
  }
  .sp-artist-designer__content__body__even {
    display: flex;
    flex-direction: column-reverse;
  }
  .sp-artist-designer__content__body__icon__inner {
    max-width: 200px;
  }
  .sp-artist-designer__content__body__icon__inner img:first-child {
    margin-left: 15%;
  }
  .sp-artist-designer__content__body__icon__inner img:last-child {
    width: 190%;
    z-index: 1;
    margin-top: 20px;
    position: relative;
  }
  .sp-artist-designer__content__body__icon__inner__even img:last-child {
    width: 200px;
    margin-top: 0;
  }
  .sp-artist-designer__content__body__body {
    padding: 7%;
    padding-top: 8%;
  }
  .sp-artist-designer__content__body__body__title__inner {
    margin-top: 20px;
  }
  .sp-artist-designer__content__body__body__text__inner {
    margin-top: 40px;
  }
  .sp-artist-designer__content__bg {
    width: 35%;
    height: 550px;
    background-color: #000;
    margin-top: 22%;
  }
  .sp-artist-designer__content__bg__even {
    margin-top: 30%;
  }
  .sp-artist-designer__img__inner {
    width: 90%;
    margin-left: auto;
    margin-top: -8%;
  }
}/*# sourceMappingURL=artist.css.map */