@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*---------------------------------

  common 共通パーツcss

---------------------------------*/
.sp-only {
  display: none;
}
@media screen and (max-width: 835px) {
  .sp-only {
    display: block;
  }
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.c-sec-title {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 835px) {
  .c-sec-title {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 835px) {
  .c-sec-subTitle {
    font-size: 1.125rem;
  }
}

.c-heading {
  margin-top: -220px !important;
  background: #fff;
  padding: 60px !important;
  padding-left: 140px !important;
  margin-right: 8%;
  position: relative;
}

.c-head {
  padding-top: 40px;
}
@media screen and (max-width: 835px) {
  .c-head {
    padding-top: 20px;
  }
}
.c-head-title__inner {
  height: 150px;
  background: #000;
  color: #fff;
}
.c-head-body {
  margin: 0 7%;
  padding-top: 70px;
}
.c-head-title {
  font-size: 1.5rem;
  margin-top: 10px;
}
.c-head-title-text {
  font-size: 0.8125rem;
}
.c-head-category__inner {
  font-size: 0.625rem;
  letter-spacing: 0;
  margin-top: 20px;
  margin-left: 7%;
}
.c-head-img {
  margin-top: 60px;
  margin-left: 7%;
}

.c-about {
  background: #000;
  margin-top: 120px;
}
.c-about__inner {
  padding: 60px 0;
  padding-bottom: 140px;
}
.c-about__title__inner {
  margin: 0 10%;
}
.c-about__title {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.c-about__title span {
  font-size: 0.875rem;
  font-weight: 200;
  margin-left: 30px;
}
.c-about__content__inner {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.c-about__content {
  width: 380px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.c-about__content__design {
  background-image: url(../images/about_img_01.png);
}
.c-about__content__design2 {
  background-image: url(../images/about_design_img.png);
}
.c-about__content__performance {
  background-image: url(../images/about_img_02.png);
}
.c-about__content__artist {
  background-image: url(../images/about_img_03.png);
}
.c-about__content__name {
  color: #fff;
  font-size: 1.25rem;
  margin-right: 120px;
}
.c-about__content__name::after {
  content: "";
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 40px;
  bottom: 0;
  margin: auto;
}

.c-modelHouse {
  margin: 0 7%;
}
.c-modelHouse__inner {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}
@media screen and (max-width: 835px) {
  .c-modelHouse__inner {
    display: block;
  }
}
.c-modelHouse__card {
  width: 530px;
  height: 290px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 835px) {
  .c-modelHouse__card {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.c-modelHouse__card__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20%;
}
@media screen and (max-width: 835px) {
  .c-modelHouse__card__title {
    font-size: 1.125rem;
    margin-top: 0;
  }
}
.c-modelHouse__card__btn {
  width: 300px;
  height: 54px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}
@media screen and (max-width: 835px) {
  .c-modelHouse__card__btn {
    display: none;
  }
}
.c-modelHouse__card__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}
.c-modelHouse__reservationCard {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/shinjuku_section_2_01.png);
  background-size: cover;
  background-position: center;
}
.c-modelHouse__reservationCard__btn {
  background: #2847B4;
}
.c-modelHouse__claimCard {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/Group143.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 835px) {
  .c-modelHouse__claimCard {
    margin-top: 40px;
  }
}
.c-modelHouse__claimCard__btn {
  background: #393939;
}

.c-gallery {
  background: #9A9A9A;
}
.c-gallery__inner {
  padding: 60px 0;
}
.c-gallery-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}
.c-gallery-header__heading {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.c-gallery-header__heading span {
  font-size: 0.875rem;
  font-weight: 200;
  margin-left: 30px;
}
.c-gallery-header__construction__btn {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 60px;
  font-family: "Shippori Mincho", serif;
  position: relative;
}
.c-gallery-header__construction__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
}
.c-gallery__img__inner {
  margin-top: 60px;
}
.c-gallery__img__inner .slick-img img {
  height: 420px;
  opacity: 0.3;
  transition: opacity 0.5s, transform 0.5s;
  width: 100%;
}
.c-gallery__img__inner .slider .slick-center img {
  opacity: 1;
  transform: scale(1);
}

input[type=date],
input[type=text],
input[type=number] {
  width: 670px;
  height: 46px;
  border: 1px solid #040000;
  border-radius: 5px;
  margin-top: 10px;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
}

input[type=radio] {
  width: 20px;
  height: 20px;
}

.c-form__inner {
  max-width: 1000px;
  margin: 0 auto;
}
.c-form__inner input {
  -moz-appearance: auto;
       appearance: auto;
  -webkit-appearance: auto;
}
.c-form__mh__inner {
  margin-right: 0;
  margin-left: auto;
}
.c-form__desc {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 60px;
}
.c-form__desc__en {
  font-size: 0.8125rem;
}
.c-form__hope__exhibition__desc {
  position: relative;
}
.c-form__hope__exhibition__desc::before {
  content: "モデルハウス";
  position: absolute;
  left: -200px;
  font-size: 1.25rem;
}
.c-form__label__inner {
  margin-top: 20px;
}
.c-form__label__inner .require {
  color: red;
}
.c-form__label__inner__en {
  line-height: 150%;
  font-size: 0.8125rem;
  display: flex;
}
.c-form__label__inner__en span {
  color: red;
  margin-left: 5px;
}
.c-form__hope__exhibition__label__inner {
  position: relative;
  margin-top: 40px;
}
.c-form__hope__exhibition__label__inner::before {
  content: "来場予約";
  position: absolute;
  left: -200px;
  font-size: 1.25rem;
}
.c-form__content {
  margin-top: 80px;
}
.c-form__radio {
  margin-left: 20px;
}
.c-form__radio:first-child {
  margin-left: 0;
}
.c-form__radio__inner {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.c-form__radio__flex {
  display: flex;
  align-items: center;
}
.c-form__radio__flex .radio-name {
  margin-left: 10px;
}
.c-form__radio__box__name__en {
  font-size: 0.75rem;
  margin-left: 30px;
}
.c-form__date__hope__text__inner {
  margin-top: 30px;
  color: #898989;
}
.c-form__date__hope__text__en {
  line-height: 150%;
  font-size: 0.8125rem;
}
.c-form__customer__post__input:first-child {
  width: 275px;
}
.c-form__customer__post__input:last-child {
  width: 200px;
  background: rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  padding-left: 45px;
}
.c-form__customer__post__input__inner {
  display: flex;
  align-items: center;
}
.c-form__architecture__hope__radio__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 84%;
  margin-top: 10px;
}
.c-form__architecture__season__call__text {
  color: #999999;
  font-size: 0.84375rem;
  margin-top: 10px;
}
.c-form__architecture__season__call__text__en {
  color: #999999;
  font-size: 0.8125rem;
}
.c-form__architecture__season__radio {
  margin-right: 40px;
}
.c-form__architecture__season__radio__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-top: 20px;
}
.c-form__architecture__budget__radio {
  width: 200px;
}
.c-form__architecture__budget__radio__inner {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 250px;
  margin-left: auto;
  margin-top: 20px;
}
.c-form__trigger__checkbox {
  width: 300px;
}
.c-form__trigger__checkbox__3, .c-form__trigger__checkbox__6 {
  margin-left: -120px;
}
.c-form__trigger__checkbox .checkbox-name {
  font-size: 15px;
  margin-left: 5px;
  white-space: nowrap;
}
.c-form__trigger__checkbox__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.c-form__trigger__checkbox__flex {
  display: flex;
  align-items: center;
}
.c-form__question__textarea__inner {
  margin-top: 10px;
}
.c-form__question__textarea__inner textarea {
  width: 670px;
  height: 160px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
}
.c-form__submit__inner {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 40px;
  position: relative;
}
.c-form__submit__inner input {
  height: 50px;
  padding: 0 20px;
}
.c-form__submit__inner__text__en {
  display: block;
  position: absolute;
  font-size: 0.75rem;
  margin-top: 30px;
  letter-spacing: 0;
}

/*---------------------------------

  header ヘッダーcss

---------------------------------*/
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 0 40px;
}
@media screen and (max-width: 835px) {
  .header-inner {
    padding: 20px 20px 0 20px;
  }
}
@media screen and (max-width: 835px) {
  .header-logo {
    width: 60%;
  }
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 835px) {
  .header-content {
    display: none;
  }
}
.header-btn {
  background: #000;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Shippori Mincho", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  margin-left: 10px;
}
.header-translate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: serif;
  margin-left: 10px;
}
.header-translate span {
  margin: 0 5px;
}

.sp-header-humburger {
  display: none;
}
@media screen and (max-width: 835px) {
  .sp-header-humburger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}
.sp-header-humburger__bar::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #313131;
}
.sp-header-humburger__bar:first-child.close::after {
  position: absolute;
  top: 41px;
  transform: rotate(45deg);
  background-color: #fff;
}
.sp-header-humburger__bar:nth-child(2)::after {
  margin-top: 8px;
}
.sp-header-humburger__bar:nth-child(2).close::after {
  display: none;
}
.sp-header-humburger__bar:last-child::after {
  margin-top: 8px;
}
.sp-header-humburger__bar:last-child.close::after {
  transform: rotate(-45deg);
  background-color: #fff;
}

/*---------------------------------

  footer フッターcss

---------------------------------*/
.sp-menu-nav {
  background: #000;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav {
    display: none;
    padding-bottom: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }
}
.sp-menu-nav-inner {
  color: #fff;
  padding: 100px 7%;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-inner {
    padding: 60px 14%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
.sp-menu-nav-logo {
  max-width: 300px;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-logo {
    padding-top: 120px;
  }
}
.sp-menu-nav-nav__body {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-nav__body {
    display: block;
  }
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-nav {
    margin-top: 60px;
  }
  .sp-menu-nav-nav:first-child {
    margin-top: 0;
  }
}
.sp-menu-nav-nav__title {
  font-weight: 500;
  letter-spacing: 2px;
}
.sp-menu-nav-nav__list {
  margin-top: 40px;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-nav__list {
    margin-top: 0;
  }
}
.sp-menu-nav-nav__item {
  font-size: 0.9375rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 20px;
}
.sp-menu-nav-nav__btn {
  margin-top: 30px;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-nav__btn {
    margin-top: 20px;
  }
}
.sp-menu-nav-nav__btn:first-child {
  margin-top: 0;
}
.sp-menu-nav-translate {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 130px;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-translate {
    display: none;
  }
}
.sp-menu-nav-translate-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sp-menu-nav-translate-inner span {
  margin: 0 5px;
}
.sp-menu-nav-copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 80px;
}
@media screen and (max-width: 835px) {
  .sp-menu-nav-copyright {
    color: #fff;
    margin-top: 40px;
  }
}

/*---------------------------------

  footer フッターcss

---------------------------------*/
.footer {
  background: #000;
}
@media screen and (max-width: 835px) {
  .footer {
    padding-bottom: 100px;
  }
}
.footer-inner {
  color: #fff;
  padding: 100px 7%;
}
@media screen and (max-width: 835px) {
  .footer-inner {
    padding: 60px 14%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
.footer-logo {
  max-width: 300px;
}
@media screen and (max-width: 835px) {
  .footer-logo {
    padding-top: 120px;
  }
}
.footer-nav__body {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 835px) {
  .footer-nav__body {
    display: block;
  }
}
@media screen and (max-width: 835px) {
  .footer-nav {
    margin-top: 60px;
  }
  .footer-nav:first-child {
    margin-top: 0;
  }
}
.footer-nav__title {
  font-weight: 500;
  letter-spacing: 2px;
}
@media screen and (max-width: 835px) {
  .footer-nav__title {
    font-size: 1.25rem;
  }
}
.footer-nav__list {
  margin-top: 40px;
}
@media screen and (max-width: 835px) {
  .footer-nav__list {
    margin-top: 0;
  }
}
.footer-nav__item {
  font-size: 0.9375rem;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 20px;
}
.footer-nav__btn {
  margin-top: 30px;
}
@media screen and (max-width: 835px) {
  .footer-nav__btn {
    margin-top: 20px;
  }
}
.footer-nav__btn:first-child {
  margin-top: 0;
}
.footer-translate {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  margin-right: 130px;
}
@media screen and (max-width: 835px) {
  .footer-translate {
    display: none;
  }
}
.footer-translate-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-translate-inner span {
  margin: 0 5px;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 80px;
}
@media screen and (max-width: 835px) {
  .footer-copyright {
    color: #fff;
    margin-top: 40px;
  }
}/*# sourceMappingURL=common.css.map */