@charset "UTF-8";
/*---------------------------------

  company 企業情報css

---------------------------------*/
.company-info__title__inner {
  margin: -120px 10% 0 0;
  padding: 60px;
  background: #fff;
  padding-left: 12%;
  position: relative;
}
@media screen and (max-width: 835px) {
  .company-info__title__inner {
    background: #fff;
    padding: 40px 40px 0 12%;
    position: relative;
    margin: -40px 40px 0 0;
  }
}
.company-info__title {
  text-align: justify;
}
.company-info__content {
  padding: 0 12%;
}
@media screen and (max-width: 835px) {
  .company-info__content {
    margin-top: 60px;
  }
}
.company-info__content__item {
  border-bottom: 1px solid #000;
  display: flex;
  font-size: 0.875rem;
  line-height: 39px;
  padding: 20px 0;
  position: relative;
}
@media screen and (max-width: 835px) {
  .company-info__content__item {
    display: block;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .company-info__content__item:first-child {
    padding-top: 0;
  }
}
.company-info__content__item::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: 2px solid #000;
  bottom: -2px;
  width: 24%;
}
@media screen and (max-width: 835px) {
  .company-info__content__item::after {
    display: none;
  }
}
.company-info__content__item__label {
  width: 280px;
}
@media screen and (max-width: 835px) {
  .company-info__content__item__label {
    position: relative;
  }
  .company-info__content__item__label::after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: 2px solid #000;
    bottom: 0;
    width: 40%;
  }
}
@media screen and (max-width: 835px) {
  .company-info__content__item__text {
    margin-top: 20px;
  }
}
.company-info__recruit {
  border: 1px solid #000;
  margin: 0 16%;
  margin-top: 100px;
}
@media screen and (max-width: 835px) {
  .company-info__recruit {
    margin: 0 12%;
    margin-top: 100px;
  }
}
.company-info__recruit__inner {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}
@media screen and (max-width: 835px) {
  .company-info__recruit__inner {
    display: block;
    padding: 20px;
    padding-top: 40px;
  }
}
.company-info__recruit__body__title {
  font-size: 1.675rem;
  font-weight: 500;
}
@media screen and (max-width: 835px) {
  .company-info__recruit__body__title {
    font-size: 1.125rem;
  }
}
.company-info__recruit__body__text {
  line-height: 28px;
  margin-top: 40px;
  width: 440px;
}
@media screen and (max-width: 835px) {
  .company-info__recruit__body__text {
    width: auto;
  }
}
.company-info__recruit__body__number {
  font-size: 1.25rem;
  font-weight: 200;
  margin-top: 40px;
  display: flex;
}
.company-info__recruit__body__number__img {
  width: 13px;
  height: 100%;
  margin-right: 10px;
}
@media screen and (max-width: 835px) {
  .company-info__recruit__img {
    margin-top: 30px;
  }
}

.company-modelHouse {
  background: #000;
  margin-top: 100px;
}
.company-modelHouse__inner {
  padding: 80px 0;
  padding-bottom: 140px;
}
@media screen and (max-width: 835px) {
  .company-modelHouse__inner {
    padding-bottom: 100px;
  }
}
.company-modelHouse__heading__inner {
  margin: 0 12%;
}
@media screen and (max-width: 835px) {
  .company-modelHouse__heading__inner {
    margin-right: 0;
  }
}
.company-modelHouse__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}
@media screen and (max-width: 835px) {
  .company-modelHouse__heading {
    font-size: 2.375rem;
  }
}
.company-modelHouse__exhibition__inner {
  color: #fff;
  display: flex;
  margin-top: 60px;
}
@media screen and (max-width: 835px) {
  .company-modelHouse__exhibition__inner {
    display: block;
  }
}
.company-modelHouse__exhibition {
  width: 360px;
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 835px) {
  .company-modelHouse__exhibition {
    width: auto;
    height: 130px;
    background-position-y: 30%;
    margin-top: 30px;
  }
}
.company-modelHouse__exhibition__komazawa {
  background-image: url(../images/company_gallery_img_01.png);
}
.company-modelHouse__exhibition__shinjuku {
  background-image: url(../images/company_gallery_img_02.png);
}
.company-modelHouse__exhibition__seta {
  background-image: url(../images/company_gallery_img_03.png);
}
@media screen and (max-width: 835px) {
  .company-modelHouse__exhibition__seta {
    background-position-y: 70%;
  }
}
.company-modelHouse__exhibition__magome {
  background-image: url(../images/company_gallery_img_04.png);
}
@media screen and (max-width: 835px) {
  .company-modelHouse__exhibition__magome {
    background-position-y: 80%;
  }
}
.company-modelHouse__exhibition__name {
  margin-right: 140px;
}
@media screen and (max-width: 835px) {
  .company-modelHouse__exhibition__name {
    font-size: 1.25rem;
  }
}
.company-modelHouse__exhibition__name::after {
  content: "";
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 40px;
  bottom: 0;
  margin: auto;
}
.company-modelHouse__cards {
  margin-top: 60px;
}/*# sourceMappingURL=company.css.map */