@charset "UTF-8";
/*---------------------------------

  design デザインページcss

---------------------------------*/
@media screen and (max-width: 835px) {
  .design-head-img img {
    padding-left: 7%;
  }
}
@media screen and (max-width: 835px) {
  .design-head-img img {
    height: 300px;
  }
}

.design-housing__inner {
  padding: 120px 0 120px 120px;
  background: #000;
}
@media screen and (max-width: 835px) {
  .design-housing__inner {
    padding: 0;
  }
}
.design-housing__content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
}
@media screen and (max-width: 835px) {
  .design-housing__content {
    display: grid;
  }
}
.design-housing__body {
  color: #fff;
}
@media screen and (max-width: 835px) {
  .design-housing__body {
    padding: 7%;
    margin-top: 80px;
  }
}
.design-housing__body__title {
  line-height: 66px;
  text-align: justify;
}
@media screen and (max-width: 835px) {
  .design-housing__body__title {
    line-height: 40px;
  }
}
.design-housing__body__text {
  line-height: 39px;
}
@media screen and (max-width: 835px) {
  .design-housing__body__text {
    line-height: 28px;
  }
}
.design-housing__body__text__inner {
  margin-top: 30px;
}
@media screen and (max-width: 835px) {
  .design-housing__body__text__inner {
    margin-top: 60px;
  }
}
.design-housing__img__inner {
  margin-top: 100px;
}
@media screen and (max-width: 835px) {
  .design-housing__img__inner {
    margin-top: 60px;
    margin-left: 20%;
  }
}
@media screen and (max-width: 835px) {
  .design-housing__img__inner img {
    height: 480px;
  }
}
.design-housing__sub__img__inner {
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding-left: 120px;
  margin-top: -220px;
}
@media screen and (max-width: 835px) {
  .design-housing__sub__img__inner {
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: -120px;
  }
}

.design-trend {
  padding-top: 140px;
}
@media screen and (max-width: 835px) {
  .design-trend {
    padding-top: 80px;
  }
}
.design-trend__content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 835px) {
  .design-trend__content {
    flex-direction: column-reverse;
  }
}
.design-trend__img__inner {
  display: grid;
  gap: 5px;
}
@media screen and (max-width: 835px) {
  .design-trend__img__inner {
    margin: 0 7%;
    margin-top: 120px;
  }
}
.design-trend__body {
  margin-left: 200px;
}
@media screen and (max-width: 835px) {
  .design-trend__body {
    margin-left: 0;
  }
}
.design-trend__body__title {
  line-height: 66px;
  text-align: justify;
}
@media screen and (max-width: 835px) {
  .design-trend__body__title {
    line-height: 40px;
  }
}
.design-trend__body__text {
  line-height: 39px;
}
@media screen and (max-width: 835px) {
  .design-trend__body__text {
    line-height: 28px;
  }
}
.design-trend__body__text__inner {
  margin-top: 35px;
}
.design-trend__body__btn {
  width: 217px;
  height: 45px;
  border: 1px solid #000;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding-left: 30px;
  position: relative;
}
@media screen and (max-width: 835px) {
  .design-trend__body__btn {
    margin: 0 auto;
    margin-top: 50px;
  }
}
.design-trend__body__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}

.c-gallery {
  background: #9A9A9A;
}
.c-gallery__inner {
  padding: 60px 0;
}
@media screen and (max-width: 835px) {
  .c-gallery__inner {
    position: relative;
    padding-bottom: 160px;
  }
}
.c-gallery-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}
@media screen and (max-width: 835px) {
  .c-gallery-header {
    display: block;
  }
}
.c-gallery-header__heading {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 835px) {
  .c-gallery-header__heading {
    display: grid;
  }
}
.c-gallery-header__heading span {
  font-size: 0.875rem;
  font-weight: 200;
  margin-left: 30px;
}
@media screen and (max-width: 835px) {
  .c-gallery-header__heading span {
    margin-top: 20px;
    margin-left: 0;
  }
}
.c-gallery-header__construction__btn {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 60px;
  font-family: "Shippori Mincho", serif;
  position: relative;
}
@media screen and (max-width: 835px) {
  .c-gallery-header__construction__btn {
    padding: 10px;
    width: 150px;
    height: 45px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.c-gallery-header__construction__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
}
.c-gallery__img__inner {
  margin-top: 60px;
}
.c-gallery__img__inner .slick-img img {
  height: 420px;
  opacity: 0.3;
  transition: opacity 0.5s, transform 0.5s;
  width: 100%;
}
@media screen and (max-width: 835px) {
  .c-gallery__img__inner .slick-img img {
    height: 230px;
  }
}
.c-gallery__img__inner .slider .slick-center img {
  opacity: 1;
  transform: scale(1.6);
}
@media screen and (max-width: 835px) {
  .c-gallery__img__inner .slider .slick-center img {
    transform: scale(2.3);
    z-index: 10;
    position: relative;
  }
}/*# sourceMappingURL=design.css.map */