@use "../global" as g;

/*---------------------------------

  common 共通パーツcss
  
---------------------------------*/
body {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.c-sec-title {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.c-heading {
  margin-top: -220px!important;
  background: #fff;
  padding: 60px!important;
  padding-left: 140px!important;
  margin-right: 8%;
  position: relative;
}

.c-head {
  padding-top: 40px;
  &-title__inner {
    height: 150px;
    background: #000;
    color: #fff;
  }
  &-body {
    margin: 0 7%;
    padding-top: 70px;
  }
  &-title {
    font-size: 1.5rem;
    margin-top: 10px;
    &-text {
      font-size: 0.8125rem;
    }
  }
  &-category__inner {
    font-size: 0.625rem;
    letter-spacing: 0;
    margin-top: 20px;
    margin-left: 7%;
  }
  &-img {
    margin-top: 60px;
    margin-left: 7%;
  }
}

.c-about {
  background: #000;
  margin-top: 120px;
  &__inner {
    padding: 60px 0;
    padding-bottom: 140px;
  }
  &__title__inner {
    margin: 0 10%;
  }
  &__title {
    color: #fff;
    font-size: 2.5rem;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    span {
      font-size: 0.875rem;
      font-weight: 200;
      margin-left: 30px;
    }
  }
  &__content__inner {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  &__content {
    width: 380px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__design {
      background-image: url(../images/about_img_01.png);
    }
    &__performance {
      background-image: url(../images/about_img_02.png);
    }
    &__artist {
      background-image: url(../images/about_img_03.png);
    }
    &__name {
      color: #fff;
      font-size: 1.25rem;
      margin-right: 120px;
      &::after {
        content: "";
        width: 15px;
        height: 15px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.c-modelHouse {
  margin: 0 7%;
  &__inner {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
  }
  &__card {
    width: 530px;
    height: 290px;
    color: #fff;
    text-align: center;
    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 20%;
    }
    &__btn {
      position: relative;
      margin-top: 80px;
      padding: 15px 70px;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &__reservationCard {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/shinjuku_section_2_01.png);
    background-size: cover;
    background-position: center;
    &__btn {
      background: #2847B4;
    }
  }
  &__claimCard {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/Group143.png);
    background-size: cover;
    background-position: center;
    &__btn {
      background: #393939;
    }
  }
}

.c-gallery {
  background: #9A9A9A;
  &__inner {
    padding: 60px 0;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    &__heading {
      color: #fff;
      font-size: 2.5rem;
      font-family: "Jost", sans-serif;
      font-weight: 600;
      span {
        font-size: 0.875rem;
        font-weight: 200;
        margin-left: 30px;
      }
    }
    &__construction__btn {
      display: block;
      border: 1px solid #fff;
      color: #fff;
      padding: 10px 60px;
      font-family: "Shippori Mincho", serif;
      position: relative;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &__img__inner {
    margin-top: 60px;
    .slick-img {
      img {
        height: 420px;
        opacity: .3; // スライドを薄くする
        transition: opacity .5s, transform .5s; // スライド透過率と拡大のアニメーション時間を0.5秒に設定
        width: 100%;
      }
    }
    .slider .slick-center img {
      opacity: 1; // 中央のスライドは透過しない
      transform: scale(1); // 中央のスライドは小さくしない
    }
  }
}

